#galleryContainer {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .gallery-link {
    text-decoration: none;
    color: inherit;
    position: relative;
    overflow: hidden;
  }
  
  .gallery-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-link:hover .gallery-image {
    transform: scale(1.05);
  }
  
  .custom-img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Initially hidden */
  }
  
  .gallery-link:hover .custom-img-content {
    opacity: 1; /* Show on hover */
  }
  