*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 font-family: 'poppins',sans-serif;
}
.gallery{
width: 100%;
height: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 50px 8%;
}
.galleryContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
}
.galleryContainer img{
width: 100% ;
height: auto;
}
  
  .custom-img-content {
   
    
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 17, 255, 0.164);
    padding: 10px;
    border-radius: 8px;
   
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Initially hidden */
  }
  
  .gallery-link:hover .custom-img-content {
    opacity: 1; /* Show on hover */
    width: auto;
  }
  