*
{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 23, 63, 0.7),rgba(15, 26, 70, 0.7)),url(images/ou-ivan-vazov-varnensko-uchilishte-Copy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    animation: fade-down 1s;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.nav-links ul li  ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 157, 255, 0.692);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.dropdown  ::after{
        content: '';
        width: 0%;
        height: 2px;
        background: rgba(0, 157, 255, 0.692);
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .dropdown :hover::after{
        width: 100%;
} 
 .dropbtn {
    background-color: #00000000;
    color: white;
    padding: 8px 12px;
    font-size: 22px;
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #00000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.048);
    z-index: 1;
  }
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #0b293a21;}
  .dropdown:hover .dropdown-content {display: block;}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;animation: fadeIn 2s;
}
.text-box p{
margin: 10px 0 40px;animation: fadeIn 2s;
font-size: 17px;
color:#fff;
}
.hero-btn{
    display: inline-block;animation: fadeIn 2s;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 35px;
    background: transparent;
    position: relative; 
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgba(0, 157, 255, 0.692);
    background: rgba(0, 157, 255, 0.692);
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 800px)
{
    .dropdown-content {
        text-align: left;
    }
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(0, 157, 255, 0.692);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
   
}
/*------EVENTS------- */
h1{
    font-size: 50px;
    font-weight: 600;
   }
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row span{
    font-size: 50px;
    font-weight: 600;
}
.row{
    color:black;
    font-size: 2.4rem;
    font-weight: 600;
}
.row-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    

}
.row-box{
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: 1s;
}
.row-box:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);}
    
.row-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.row-text{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.row-text span{
    color: red;
}
.row-text .row-title{
    font-size: 1.3rem;
    font-weight: 500;
    color:black
}
.row-text .row-title:hover{
    color:red;
transition:all ease 0.5s ;
}
.row-text p{
    color:  #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px;
}
.row-text a{
    color: black;
}
.row-text a:hover{
    color: red;
    transition:all ease 0.5s ;
}
/* 
   .events{
    max-width: 1600px;
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 30px ;
  text-align: center;
   }
    
   
   h1{
    font-size: 36px;
    font-weight: 600;
   }
   p{
    color: #525151;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
   }
   .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   }
   .event-col{
    flex-basis: 31%;
    background: #c3fbff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
   }
   h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
   }
   .event-col:hover{
 box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
   }
   @media(max-width:700px){
    .events .row{
        flex-direction: column;
    }
   }
   @media(max-width:1100px){
    .events .row{
        flex-direction: column;
    }
} */
   /*-------images-------*/
   .images{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    animation: fadeIn 3s;
    }
.images-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    animation: fadeIn 3s;
}
.images-col img{
    size: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border: 0;
    transition: 0.5s;
}


.layer:hover{
    background:rgba(0, 157, 255, 0.692)
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 1s;
    opacity: 0;
}
.layer:hover h3
{
    bottom: 70%;
    opacity: 1;
}   
/*----------------*/
.facilities{
width: 80%;
margin: auto;
text-align: center;
padding-top: 20px;
animation: fadeIn 3s;
}

/*--------call--------*/

.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(13, 23, 63, 0.7),rgba(15, 26, 70, 0.7)),url(images/ou-ivan-vazov-varnensko-uchilishte-Copy.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    animation: fadeIn 3s;
}
.contact h1{
    color: #ffffff;;
    margin-bottom: 40px;
    padding: 0;

}




    .sub-header{
        height: 44vh;
        width: 100%;
        background-image: linear-gradient(rgba(13, 23, 63, 0.7),rgba(15, 26, 70, 0.7)),url(images/ou-ivan-vazov-varnensko-uchilishte-Copy.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
 

@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px)scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px)scale(1);
    }
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      visibility: hidden;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

/*  Sponsors  */

.swider{
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    background: #ffffff;
  }
  
  .container {
    max-width: 1200px;
    width: 95%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: auto;
    height: 80px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
        width: auto;
        height: 80px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }


























  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer-container{
  max-width: 1070px;
  margin:auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #1f22f3;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffe600;
  height: 2px;
  box-sizing: border-box;
  width: 90px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}